extends ../layouts/default

mixin field(name)
		input(type="text", value=character[name], name=name, class=name)

mixin text(name, rows)
	textarea(class=name, name=name, rows=rows)= character[name]

mixin number-box(name, value, text, type)
	span(class=name.replace('.', ' ')+" number-box")
		label(for=name)= text
		input(type=type, name=name, id=name, value=value)

mixin check-box(name, checked, text)
	span(class=name.replace('.', ' ')+" check-box")
		input(type="checkbox", name=name, id=name checked=checked)
		label(for=name)= text

mixin pool(type)
	div(class=type+" pool")
		+number-box(type+".total", character[type].total, type)
		+number-box(type+".pool", character[type].pool, "Pool")
		+number-box(type+".edge", character[type].edge, "Edge")

mixin rows(name, max)
	- max = max ? max : 6;
	ul
		- for(var i = 0; i < max; i++)
			li
				input(type="text", name=name+"."+i+"", value=character[name][i])


block content
	section.page-1(data-page="1", class=(page == 1) ? 'active' : '')
		.col-md-4
			fieldset.notes
				legend Notes
				+text("notes", 31)

		.col-md-4
			fieldset.background
				legend Background
				+text("background", 19)

			fieldset.personality
				legend Personality
				+text("personality", 6)

		.col-md-4
			fieldset.character
				legend Character
				+field("name")
				span is a
				+field("descriptor")
				+field("type")
				span who
				+field("focus")

			fieldset.portrait(style="background-image: url("+character.portrait+");")
				legend Portrait

	section.page-2(data-page="2", class=(page == 2) ? 'active' : '')
		.col-md-4
			fieldset.skills.floating
				legend Skills
				ul
					- for(var i = 0; i < 8; i++)
						li
							- var skill = character.skills[i] ? character.skills[i] : skillDefault
							input(type="text", value=skill.name, name="skills."+i+".name")
							span.trained
								input(type="radio", name="skills."+i+".type", checked=skill.trained, value="trained")
								label(for="skills."+i+".type") T
							span.specialized
								input(type="radio", name="skills."+i+".type", checked=skill.specialized, value="specialized")
								label(for="skills."+i+".type") S

			fieldset.abilities.lines
				legend Special Abilities
				+rows("specialAbilities", 13)

		.col-md-4
			fieldset.stats.floating
				+number-box("tier", character.tier, "Tier")
				+number-box("effort", character.effort, "Effort")

				+pool("might")
				+pool("speed")
				+pool("intellect")

				.health
					.damage
						label Damage
						+check-box("impaired", character.impaired, "Impaired")
						+check-box("debilitated", character.debilitated, "Debilitated")
					.recovery
						+number-box("recovery.roll", "1D6 + "+character.recovery.roll, "Recovery Roll")

					.uses
						+check-box("recovery.oneAction", character.recovery.oneAction, "1 Action")
						+check-box("recovery.tenMinutes", character.recovery.tenMinutes, "10 Minutes")
						+check-box("recovery.oneHour", character.recovery.oneHour, "1 Hour")
						+check-box("recovery.eightHours", character.recovery.eightHours, "8 Hours")

				.attacks
					label Attacks
					+number-box("armor", character.armor, "Armor")
					ul
						- for(var i = 0; i < 4; i++)
							li
								- var attack = character.attacks[i] ? character.attacks[i] : attackDefault
								input(type="text", class="name", name="attacks."+i+".name", value=attack.name)
								input(type="number", class="mod", name="attacks."+i+".mod", value=attack.mod)
								input(type="text", class="damage", name="attacks."+i+".damage", value=attack.damage)

				.experience
					+number-box("experience.total", character.experience.total, "Experience")
					+check-box("experience.statPools", character.experience.statPools, "Stat Pools")
					+check-box("experience.edge", character.experience.edge, "Edge")
					+check-box("experience.effort", character.experience.effort, "Effort")
					+check-box("experience.skills", character.experience.skills, "Skills")

		.col-md-4
			fieldset.cyphers.lines
				legend Cyphers
				+rows("cyphers", 12)
				.cypherLimit
					+number-box("cypherLimit", character.cypherLimit, "Limit")

			fieldset.artifacts.lines
				legend Artifacts
				+rows("artifacts", 12)

			

	section.page-3(data-page="3", class=(page == 3) ? 'active' : '')
		.col-md-4
			fieldset.oddities.lines
				legend Oddities
				+rows("oddities", 12)

			fieldset.equipment.lines
				legend Equipment
				+rows("equipment", 12)

		.col-md-4
			fieldset.experience.lines
				legend Experience Log
				ul
					- for(var i = 0; i < 26; i++)
						li
							- var entry = character.experience.log[i] ? character.experience.log[i] : experienceDefault;
							input(type="text", name="experience.log."+i+".date", value=entry.date, class="date")
							input(type="number", name="experience.log."+i+".val", value=entry.val, class="num")
							input(type="text", name="experience.log."+i+".notes", value=entry.notes, class="notes")
				+number-box("experience.total", character.experience.total, "Total")

		.col-md-4
			fieldset.notes
				legend Further Notes

	pre= character